{:kotoba.app/id "cloud.itonami.isic-952", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidzskqrtqsl7xhajappra77uxtyh7mfe4ls4uydtbwlm2b5bc2re4", :kotoba.app/embed-url "ipfs://bafkreidzskqrtqsl7xhajappra77uxtyh7mfe4ls4uydtbwlm2b5bc2re4", :published {:archive "https://kotobase.net/ipfs/bafkreidzskqrtqsl7xhajappra77uxtyh7mfe4ls4uydtbwlm2b5bc2re4", :size 71766, :put-status 201, :get-status 200, :at "2026-08-15T13:38:08.658Z"}}
